@model IQueryable<ServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div>
    @if (Model.Any()) 
    { 
        <ul class="image-list">
            @foreach(ServiceItem serviceItem in Model)
            { 
                <li>
                    <a asp-area="" asp-controller="Service" asp-action="Index" asp-route-id="@serviceItem.Id">
                        <img src="~/images/@serviceItem.TitleImagePath" alt="" class="left"/>
                    </a>
                    <h4>@serviceItem.Title</h4>
                    <p>@serviceItem.Subtitle</p>
                </li>
            }
        </ul>
    }
</div>