@model IQueryable<NewsItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<a class="suggest-news-button" asp-area="" asp-controller="NewsItems" asp-action="Suggest">Додати новину</a>
<div>
    @if (Model.Any())
    {
        <ul class="news-image-list">
            @foreach (NewsItem entity in Model.OrderByDescending(x => x.DateAdded))
            {
                if(entity.Hidden == false){
                <li>
                    <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/news/@entity.TitleImagePath" alt="" class="news-left" />
                    </a>
                    <h4>@($"{entity.Title} {@entity.DateAdded.Date}")</h4>
                </li>
                }
            }
        </ul>
    }
</div>
