@model IQueryable<NewsItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<a class="suggest-news-button" asp-area="" asp-controller="News" asp-action="Suggestion">Додати новину</a>
<div>
    @if (Model.Any())
    {
        <ul class="news-image-list">
            @foreach (NewsItem entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/news/@entity.TitleImagePath" alt="" class="news-left" />
                    </a>
                    <h4>@entity.Title</h4>
                    <p>@entity.Subtitle</p>
                </li>
            }
        </ul>
    }
</div>
