@model IQueryable<ServiceItem>

@if(Model?.Any() == true)
{
    <section>
        <h2>Наші послуги</h2>
        <ul class="small-image-list">
            @foreach(ServiceItem serviceItem in Model)
                {
                    <li>
                        <a asp-area="" asp-controller="Service" asp-action="Index" asp-route-id="@serviceItem.Id">
                            <img src="~/images/@serviceItem.TitleImagePath" alt="" class="left"/>
                        </a>
                        <h4>
                            @serviceItem.Title
                        </h4>
                        <p>
                            @serviceItem.Subtitle
                        </p>
                    </li>
                }
        </ul>
    </section>
}