<!DOCTYPE HTML>

<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="left-sidebar is-preload">

    @await Html.PartialAsync("ScriptsPartial")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Component.InvokeAsync("NToastNotify")

    <div id="page-wrapper">
        @await Html.PartialAsync("HeaderPartial")


        <div class="wrapper">
            <div class="container" id="main">
                <div class="row gtr-150">

                    <div class="col-8 col-12-narrower imp-narrower">
                        @RenderBody()
                    </div>
                    <div class="col-4 col-12-narrower">

                        @await Html.PartialAsync("SidebarPartial")

                    </div>
                </div>
                @*
                    <div class="row features">
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper first">
                                <a href="#" class="image featured"><img src="~/images/pic03.jpg" alt="" /></a>
                            </div>
                            <header>
                                <h3>Dolor sit consequat magna</h3>
                            </header>
                            <p>
                                Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
                                vel sem sit dolor neque semper magna lorem ipsum.
                            </p>
                            <ul class="actions">
                                <li><a href="#" class="button">Elevate my awareness</a></li>
                            </ul>
                        </section>
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper">
                                <a href="#" class="image featured"><img src="~/images/pic04.jpg" alt="" /></a>
                            </div>
                            <header>
                                <h3>Dolor sit consequat magna</h3>
                            </header>
                            <p>
                                Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
                                vel sem sit dolor neque semper magna lorem ipsum.
                            </p>
                            <ul class="actions">
                                <li><a href="#" class="button">Elevate my awareness</a></li>
                            </ul>
                        </section>
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper">
                                <a href="#" class="image featured"><img src="~/images/pic05.jpg" alt="" /></a>
                            </div>
                            <header>
                                <h3>Dolor sit consequat magna</h3>
                            </header>
                            <p>
                                Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
                                vel sem sit dolor neque semper magna lorem ipsum.
                            </p>
                            <ul class="actions">
                                <li><a href="#" class="button">Elevate my awareness</a></li>
                            </ul>
                        </section>
                    </div>
                *@
            </div>
        </div>

        @await Html.PartialAsync("FooterPartial")

    </div>

    @await Html.PartialAsync("ChatPartial")
</body>
</html>