<!-- Footer -->
<div id="footer-wrapper">
    <div id="copyright" class="container">
        <ul class="menu">
            <li>&copy; @Config.CompanyName. All rights reserved.</li>
        </ul>
    </div>
</div>