<div id="header-wrapper">
    <div id="header" class="container">

        <h1 id="logo"><a href="\">@Config.CompanyName</a></h1>

        <nav id="nav">
            <ul>
                <li><a asp-area="" asp-controller="Service" asp-action="Index" asp-route-id="">Послуги</a></li>
                <li class="break"><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
            </ul>
        </nav>

    </div>
</div>